<div class="row">
    <%= f.label :status, class: "col-xs-2 col-sm-2"%>
    <%= f.select :status, ['Active', 'Inactive'], class: "col-xs-4 col-sm-2"%>
</div>

<div class="row">
    <%= f.label :last_name, class: "col-xs-2 col-sm-2" %>
    <%= f.text_field :last, class: "col-xs-4 col-sm-4" %>
    
    <%= f.label :first_name, class: "col-xs-2 col-sm-2"%>
    <%= f.text_field :first, class: "col-xs-4 col-sm-4"%>
</div>

<div class="row">
    <%= f.label :title, class: "col-sm-2"%>
    <%= f.text_field :title, class: "col-sm-4" %>

    <%= f.label :role, class: "col-sm-2"%>
    <%= f.collection_select(:role, Function.all, :role, :role, class: "col-sm-4") %>
</div>

<div class="row">
    <%= f.label :eventbrite_id, class: "col-sm-2" %>
    <%= f.number_field :eventbrite_id, class: "col-sm-4" %>

    <%= f.label :school, class: "col-sm-2"%>
    <%= collection_select(:contact, :school_id, School.all.order(:name), :id, :name, include_blank: true, class: "col-sm-4") %>
</div>

<div class="row">
    <%= f.label :email_primary, class: "col-sm-2" %>
    <%= f.email_field :email_primary, class: "col-sm-4" %>
    
    <%= f.label :email_secondary, class: "col-sm-2" %>
    <%= f.email_field :email_secondary, class: "col-sm-4" %>
</div>

<div class="row">
    <%= f.label :work_phone, class: "col-sm-2" %>
    <%= f.phone_field :work_phone, class: "col-sm-4" %>
</div>

<div class="row">
    <%= f.label :subject_area, class: "col-sm-2" %>
    <div class="col-sm-4">
        <%= f.select :subject_area, ['Not Specified','Administration','English','Foreign Language','Generalist','History/Social Studies','Humanities','Math','Music','Performing Arts','Physical Education','Science','Technology','Theology','Visual Arts','Other'] %>
    </div>
    <%= f.label :other_subject, class: "col-sm-2"%>
    <%= f.text_field :other_subject, class: "col-sm-4" %>
</div>

<label> Teaches </label class="control-label col-sm-5">
<div class="row">
    <div class="form-group col-sm-6">
        <% all_grades = [:gPK, :gK, :g01, :g02, :g03, :g04, :g05, :g06, :g07, :g08, :g09, :g10, :g11, :g12] %>
        <% all_grades.each do |g| %>
            <%= f.label @contact.grade_field_label(g), class: "col-xs-5 col-sm-5"%>
            <%= f.check_box g, class: "col-xs-1 col-sm-1 col-sm-offset-1" %>
        <% end %>
    </div>
    <%= f.label :notes, class: "col-sm-2" %>
    <%= f.text_area :notes, class: "col-sm-4", rows: 6 %>
</div>
