
<%= f.label :last_name %>
<%= f.text_field :last %>
<%= f.label :first_name %>
<%= f.text_field :first %>

<%= f.label(:role) %>
<%= f.select(:role, ['Not Specified','Academic Dean','Assistant Head of School','Athletic Director','Dean of Faculty','Dean of Students/Student Life','Dean of Community/Inclusion/Diversity','Director of Admissions','Director of Alumni Relations','Director of Communications','Director of Development/Advancement','Director of Teaching and Learning','Director of Technology/Innovation','Head of School','Lower School Division Head','Middle School Division Head','Upper School Division Head','Administrative Assistant','Administrative Assistant to the Head','Admissions Associate','After School and Summer Programs Coordinator','Alumni Relations Associate','Athletic Department Associate','Business Manager','Business Associate','Class/Grade Dean','College Counselor','Communications Associate','Counselor/Psychologist','Development/Advancement Associate','Health/Wellness Coordinator','Learning Specialist','Librarian','Registrar','Service Learning/Community Service Coordinator','Technology/Media Staff','Teacher','Department Chair and Teacher','Teaching Assistant/Intern']) %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :school %>
<%= collection_select(:contact, :school_id, School.all, :id, :name) %>

<%= f.label(:eventbrite_id) %>
<%= f.number_field(:eventbrite_id) %>

<%= f.label(:email_primary) %>
<%= f.email_field(:email_primary) %>

<%= f.label(:email_secondary) %>
<%= f.email_field(:email_secondary) %>

<%= f.label(:work_phone) %>
<%= f.phone_field(:work_phone) %>

<%= f.label :notes %>
<%= f.text_area :notes %>

<%= f.label :subject_area %>
<%= f.select(:subject_area, ['Not Specified','Administration','English','Foreign Language','Generalist','History/Social Studies','Humanities','Math','Music','Performing Arts','Physical Education','Science','Technology','Theology','Visual Arts','Other']) %>

<%= f.label :other_subject %>
<%= f.text_field :other_subject %>

<div>
<h3> Teaches: </h3>
<%= f.label :gPK %>
<%= f.check_box :gPK, checked_value: 'Yes', unchecked_value: 'No' %>

<%= f.label :gK %>
<%= f.check_box :gK %>

<%= f.label :g01 %>
<%= f.check_box :g01 %>

<%= f.label :g02 %>
<%= f.check_box :g02 %>

<%= f.label :g03 %>
<%= f.check_box :g03 %>

<%= f.label :g04 %>
<%= f.check_box :g04 %>

<%= f.label :g05 %>
<%= f.check_box :g05 %>

<%= f.label :g06 %>
<%= f.check_box :g06 %>

<%= f.label :g07 %>
<%= f.check_box :g07 %>

<%= f.label :g08 %>
<%= f.check_box :g08 %>

<%= f.label :g09 %>
<%= f.check_box :g09 %>

<%= f.label :g10 %>
<%= f.check_box :g10 %>

<%= f.label :g11 %>
<%= f.check_box :g11 %>

<%= f.label :g12 %>
<%= f.check_box :g12 %>
</div>
