<h1>Edit Contact</h1>

<%= form_for @contact, method: :patch do |f| %>
<%= render 'contact', :f => f%>
<%= f.submit "Apply" %>
<% end %>
<%= link_to 'Show', @contact %>
<%= link_to 'Back', contacts_path %>
