<h2>Edit Contact</h2>

<%= form_for @contact, method: :patch do |f| %>
    <%= render 'contact', :f => f%>
    <div>
        <%= f.submit "Apply" %>
        <%= button_tag "Reset", :type => 'reset' %>
        <%= button_to "Cancel", @contact %>
    </div>
<% end %>

