<h1> Contacts Index</h1>

<table>
<th> Contacts </th>
<% @contacts.each do |c| %>
<tr>
<td><%= c.last %></td>
<td><%= c.first %></td>
<td><%= c.email_primary %></td>
<td><%= c.school.name %></td>
</tr>
<% end %>
</table>

<%= will_paginate @contacts %>

<%= link_to 'New', new_contact_path() %>
<%= link_to 'Back', contacts_path %>
