
<div class="row">
    <div class="col-sm-2"><h2>Contacts</h2></div>
    <%= form_tag(contacts_path, :method => "get", class: "navbar-form navbar-left", role: "search", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], class: "form-control col-sm-4", placeholder: "Search Contacts" %>
        <button type="submit" class="btn btn-default col-sm-3">Submit</button>
    <% end %>
</div>

<table>
<tr>
<th>Name</th>
<th>Email</th>
<th>Role</th>
<th>School</th>
</tr>
<% @contacts.each do |c| %>
<% name = "#{c.last}, #{c.first}" %>
<tr>
<td><%= link_to name, c %></td>
<td><%= c.email_primary %></td>
<td><%= c.role %></td>
<td><%= c.school.name %></td>
<td><%= button_to 'Edit', edit_contact_path(c), method: :get %>
</tr>
<% end %>
</table>

<%= will_paginate @contacts %>

<%= link_to 'New', new_contact_path() %>
<%= link_to 'Back', contacts_path %>
