<div class="container">
  <div class="row col-xs-12 col-sm-12 col-md-12">
    <% hidden_scopes = [:role, :is_function, :is_preferred, :at_member, :subject, :status] %>
    <%= form_tag(contacts_path, :method => "get", role: "search", id: "search-form") do %>
      <div class="input-group">
        <span class="input-group-addon" id="status">Active
          <input type="checkbox" aria-label="Active">
        </span>
        <% regions = ['Bay Area', 'Southern California', 'Other']%>
        <%= select_tag(:in_region, options_for_select(regions, params[:in_region]), class: "form-control", :onchange => "this.form.submit();", :include_blank => true) %>
        <span class="input-group-addon" id="sizing-addon1">Region</span>
      </div>
      <% if params[:in_region] %>
        <%= select_tag(:at_school, options_from_collection_for_select(School.region(params[:in_region]), :id, :name, params[:at_school]), class: "form-control", :onchange => "this.form.submit();", :include_blank => true) %>
      <% else %>
        <%= select_tag(:at_school, options_from_collection_for_select(School.all, :id, :name, params[:at_school]), class: "form-control", :onchange => "this.form.submit();", :include_blank => true) %>
      <% end %>
      <%= text_field_tag :search, params[:search], class: "form-control col-md-12 col-sm-12 col-xs-12", placeholder: "Search Contacts" %>

      <% hidden_scopes.each do |s| %>
        <% if not params[s].blank? %>
          <%= hidden_field_tag s, params[s] %>
        <% end %>
      <% end %>
      
      <% if params[:teaches] %>
        <% params[:teaches].each do |g| %>
          <%= hidden_field_tag 'teaches[]', g %>
        <% end %>
      <% end %>
    <% end %>
    
    <%= button_to('New', new_contact_path(), method: :get, class: "btn btn-default col-md-2 col-sm-2 col-xs-2") %>
    
    <% all_scopes = hidden_scopes + [:search, :at_school, :in_region] %>
    <% search_params = {} %>
    <% all_scopes.each do |s| %>
      <% if params[s] and not params[s].blank? %>
        <% search_params[s] = params[s] %>
      <% end %>
    <% end %>
    
    <%= link_to('Email', email_contacts_path(search_params), method: :get, class: "btn btn-default col-md-2 col-sm-2 col-xs-2") %>
    <%= link_to('Export', contacts_path(search_params.merge(format: :csv) ), method: :get, class: "btn btn-default col-md-2 col-sm-2 col-xs-2") %>
  </div>
</div>

<table class="span-12 col-xs-12 col-sm-12 col-md-12">
<tr>
<th>Name</th>
<th>Email</th>
<th>Role</th>
<th>School</th>
</tr>
<% @contacts.each do |c| %>
<% name = c.sort_name %>
<tr>
<td><%= link_to name, c %></td>
<td><%= mail_to c.email_primary %></td>
<td><%= c.role %></td>
<% if c.school %>
    <td><%= link_to c.school.official_name, c.school %></td>
<% else %>
    <td> NOT SPECIFIED </td>
<% end %>
</tr>
<% end %>
</table>

<div class="span-12"
<%= will_paginate @contacts %>
</div>
