<%= simple_form_for @school, method: :patch do |f| %>
    <div class="form-inputs">
        <%= render 'school', :f => f%>

        <div class ="container">
            <div class="row">
                <%= f.submit "Apply", class:  "col-sm-2" %>
                <%= button_tag "Reset", :type => 'reset', class: "col-sm-2" %>
                <%= button_to "Cancel", @school, class: "col-sm-2" %>
            </div>
        </div>
    </div>
<% end %>

<%= render 'preferred' %>

<%= form_tag(add_preferred_school_path(@school), :method => "patch", id: "pref-form") do %>
    <div class="form-inputs">
        <%= label_tag('Add Preferred Contact') %>
        <%= collection_select(:preferred_contact, :contact_id, @school.contacts, :id, :full_name) %>
        <%= submit_tag('Add') %>
    </div>
<% end %>

<%= render 'membership', locals: {editing: true} %>
<%= form_tag(add_membership_school_path(@school), :method => "patch", id: "pref-form") do %>
    <div class="form-inputs">
        <%= label_tag('Add Membership Year') %>
        <%= number_field_tag(:year) %>
        <%= submit_tag('Add') %>
    </div>
<% end %>
