<div class="row col-xs-12 col-sm-12 col-md-12">
    <%= form_tag(schools_path, :method => "get", class: "navbar-form navbar-left", role: "search", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], class: "form-control col-xs-12 col-sm-12 col-md-8 col-lg-8", placeholder: "Search Schools" %>
    <% end %>
</div>

<table class="col-sm-12 col-md-12">
<tr>
<th>Official Name</th>
<th>City</th>
</tr>
<% @schools.each do |s| %>
<tr>
<td><%= link_to s.official_name, s %></td>
<td><%= s.city %></td>
</tr>
<% end %>
</table>

<%= will_paginate @schools %>

<%= link_to 'New', new_school_path() %>
<%= link_to 'Back', schools_path %>
