<h2> Schools </h2>

<table>
<tr>
<th>Official Name</th>
<th>City</th>
<th></th>
</tr>
<% @schools.each do |s| %>
<tr>
<td><%= link_to s.official_name, s %></td>
<td><%= s.city %></td>
<td><%= button_to 'Edit', edit_school_path(s), method: :get %>
</tr>
<% end %>
</table>

<%= will_paginate @schools %>

<%= link_to 'New', new_school_path() %>
<%= link_to 'Back', schools_path %>
