<h3> <%= @school.official_name %> </h3>
<h4> <%= @school.office_phone %> </h4>
<div class="row">
    <table class="col-sm-4 col-xs-8">
        <tr><th>Address</th></tr>
        <tr><td><%= @school.address1 %></td></tr>
        <tr><td><%= @school.address2 %></td></tr>
        <tr><td><%= @school.city %></td></tr>
        <tr><td><%= @school.state %></td></tr>
        <tr><td><%= @school.zip %></td></tr>
        <tr><td><%= @school.country %></td></tr>
    </table>

    <style>
     #map_canvas {
         width: 250px;
         height: 200px;
     }
    </style>      
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script> 
     google.maps.event.addDomListener(window, 'load', initialize);
     google.maps.event.addDomListener(window, 'page:load', initialize);

     function initialize() {
         var s_loc = new google.maps.LatLng(<%= @school.latitude %>, <%= @school.longitude %>);
         var map_canvas = document.getElementById('map_canvas');
         var map_options = {
             center: s_loc,
             zoom: 12,
             mapTypeId: google.maps.MapTypeId.ROADMAP
         };
         
         themap = new google.maps.Map(map_canvas, map_options);
         var marker = new google.maps.Marker({
             position: s_loc,
             map: themap,
             url: "<%= @school.map_link %>",
             title: "<%= @school.name %>"
         });
         
         google.maps.event.addListener(marker, 'click', function() {
             window.location.href = marker.url;
         });
     }
     
     $(document).ready( initialize );
     $(document).on("page:load", initialize );
    </script>
    <div id="map_canvas" class="col-sm-4 col-xs-8"></div>
</div>

<% levels = [] %>
<% levels << "Pre-K" if @school.prek %>
<% levels << "Elementary" if @school.elementary %>
<% levels << "Middle School" if @school.middle %>
<% levels << "High School" if @school.highschool %>
<table>
    <tr><th>Levels</th></tr>
    <% levels.each do |l| %>
        <tr><td><%= l %></td></tr>
    <% end %>
</table>

<h4>Notes:</h4>
<div><p>
<%= @school.notes %>
</p></div>

<%= render 'preferred' %>

<h4> Member In: </h4>
<div class="row">
<% @school.membership_years.order(year: :desc).each do |y| %>
    <div class="col-xs-2 col-sm-1 col-md-1"><%= y.year %></div>
<% end  %>
</div>


<h4>Event Participation:</h4>
<table class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<% @school.sent_to_events.each do |a| %>
    <tr>
        <td><%= link_to a.contact.full_name, a.contact %></td>
        <td><%= link_to a.event.event_name, a.event %></td>
    </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_school_path(@school) %>
<%= link_to 'Back', schools_path %>
