<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>

<tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.role?( :admin ) ? 'Yes' : 'No' %>
        <td><%= user.created_at.strftime("%b %e, %H:%M:%S UTC") %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</tbody>
