<p>
    <h3> Member Schools </h3>
    <%= render 'lists', mem: true %>
</p>

<p>
    <h3> Non-Member Schools </h3>
    <%= render 'lists', mem: true %>
</p>

<p>
    <h3> All Schools </h3>
    <%= render 'lists', mem: nil %>
</p>

<p>
    <h3> Financial Summaries </h3>
    <%= link_to('Membership Summary', lists_membership_path()) %>
    (<%= link_to('CSV', lists_membership_path(format: :csv)) %>)
    <br>
    <%= render 'events', fy: 2016 %>
    <br>
    <%= render 'events', fy: 2015 %>
    <br>
    <%= render 'events', fy: 2014 %>
    <br>
    <%= render 'events', fy: 2013 %>
</p>
