<p>
    <h3> Member Schools </h3>
    <%= render 'lists', mem: true %>
</p>

<p>
    <h3> Non-Member Schools </h3>
    <%= render 'lists', mem: true %>
</p>

<p>
    <h3> All Schools </h3>
    <%= render 'lists', mem: nil %>
</p>

<p>
    <h3> Membership </h3>
    <%= link_to('Membership Summary', lists_membership_path(), method: :get) %>
    (<%= link_to('CSV', lists_membership_path(format: :csv), method: :get) %>)
</p>
